div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}




div.main_center.newdoc_form.bordered
	

	form(ng-if="!newdoc.created_link") 
		h3 {{i18n.CUSTOM.DOCUMENT.create_new}}
		.left_part
			// p  {{render_config.i18n.CUSTOM.DOCUMENT.instructions}}
			p
			p
				label {{i18n.CUSTOM.DOCUMENT.default_title}}
				input(ng-model="newdoc.raw_title", ng-value="newdoc.title") 
			
			p
				label {{render_config.i18n.CUSTOM.DOCUMENT.default_content}}

				textarea(ng-model="newdoc.raw_content" )
			// p
				label Do not paste HTML markup here...

		.right_part
			label published
			select(ng-model="newdoc.published", name="newdoc.published")
				option(value="{{newdoc.published}}") {{newdoc.published}}
				option(value="draft") draft
				option(value="public") public	
			
			
		// p
			{{serialization}}
		
		.full-wide() 
			p 
				a.btn_big.btn_newdoc(ng-click="create_doc()") {{render_config.i18n.CUSTOM.DOCUMENT.create_new}} !  
		

	.full-wide(ng-if="newdoc.created_link") 
		p
			span Your new document
				a(href="#{root_url}:#{port}/doc/{{newdoc.created_link}}?fresh=true")  is here : {{newdoc.created_link_title}}
		p
			span Share it in secret with url :
				a(href="#{root_url}:#{port}/doc/{{newdoc.created_link}}/{{newdoc.created_secret}}")  {{newdoc.created_secret}}

