doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		title #{title} #{site_title} #{site_description} 
		link(rel='stylesheet', href='/css/min/main.css')
	body
		div.main_center.error_page.bordered
			h3 #{title}
			p !{message}