doctype
html(manifest="" class="is_home_{{ui.is_home}} is_single_{{ui.is_single}} doc_id_{{doc._id}} doc_slug_{{doc.slug}}", ng-app="musicBox", xmlns="http://www.w3.org/1999/xhtml")
	
	include header.jade
	
	body(class="render_active_{{render_config.renderAvailable_active}} text_typography_{{doc_options.text_typography.fixed}} headings_typography_{{doc_options.headings_typography.fixed}}")
		div( ng-view, autoscroll="true")
			// angular injection here

			// static HTML for search engine
			div.static_raw
				// bot and search engine only content 
				// text served as stored in database (no markup)
				h2 #{doc_title}
				if(is_view == 'document')
					img(src="#{doc_thumbnail}")
				if(is_view == 'user')
					h2 user_page
				h4 #{doc_excerpt}
				p #{raw_content}
				footer #{site_title}