doctype html
html(ng-app="musicBox", xmlns="http://www.w3.org/1999/xhtml")
	head


		title #{site_title} #{site_description} 


		script(type="text/javascript").
			var socket_url = '#{socket_url}'
			var root_url = '#{root_url}'
			var api_url = '#{api_url}'
			var USERIN = new Object({'username':'#{user_in.username}', 'image_url': '#{user_in.image_url}', '_id': '#{user_in._id}'} );
		// Misc libs/utils
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src='/bower_components/underscore/underscore-min.js')


		// script(src='/bower_components/chartist/libdist/chartist.min.js')
		// link(rel='stylesheet', href='/bower_components/chartist/libdist/chartist.min.css')

		

		
		// font loader kept local
		script(src='/js/lib/webfont.js')

		// calendar functions lib.
		script(src='/bower_components/momentjs/min/moment-with-langs.min.js')


		script(src="/bower_components/angular/angular.min.js")
		script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
		script(src='/bower_components/angular-route/angular-route.min.js')
		script(src='/bower_components/angular-resource/angular-resource.min.js')

		script(src="#{lang_js_url}")
		// script(src='/js/angular-modules/i18n/angular_en_us.js')

		script(src='/js/angular-modules/filters.js')
		script(src='/js/angular-modules/directives.js')

		// if locals.use_socket_server
		script(src="#{socket_url}/socket.io/socket.io.js")

		script(src='/js/angular-modules/services.js')
		script(src='/js/angular-modules/render_services.js')
		script(src='/js/angular-modules/document_services.js')


		
		// controllers
		script(src='/js/MusicBox/document_v1.js')
		script(src='/js/MusicBox/userCtrl.js')
		
		// Angular top level 'app' routing 
		script(src='/js/app.js')
		

		link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/grid.css')
		link(rel='stylesheet', href='/css/charset.css')
		link(rel='stylesheet', href='/css/custom.css')



	body(class="loading_{{ui.loaded}} render_active_{{ui.renderAvailable_active}} text_typography_{{doc_options.text_typography.value}} headings_typography_{{doc_options.headings_typography.value}}")
		div(ng-view)

