doctype html
html(ng-app="musicBox", xmlns="http://www.w3.org/1999/xhtml")
	head


		title #{site_title} #{site_description} 


		script(type="text/javascript").
			// var API_SERVER_URL =  '#{api_server_url}'
			var socket_url = '#{socket_url}'
			var root_url = '#{root_url}'
			var api_url = '#{api_url}'

			var user_obj = new Object();
			user_obj.username = '#{user.username}'
			user_obj.image_url= '#{user.image_url}'
			var USERIN= user_obj
			
			var doc_obj = '#{doc}'
			if('#{doc}')
				doc_obj =  doc_obj.replace(/&quot;/g,'"')
				var DOC= JSON.parse(doc_obj)
			
			// var docs_obj = '#{docs}'
			// if('#{docs}')	
			//	docs_obj =  docs_obj.replace(/&quot;/g,'"')
			//	var DOCS = JSON.parse(docs_obj)

		// Misc libs/utils
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src='/bower_components/underscore/underscore-min.js')
		
		

		script(src="/bower_components/angular/angular.min.js")
		script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
		script(src='/bower_components/angular-route/angular-route.min.js')
		script(src='/bower_components/angular-resource/angular-resource.min.js')
		// script(src='/js/angular-modules/filters.js')
		script(src='/js/angular-modules/directives.js')

		//if locals.use_socket_server
		script(src="#{socket_url}/socket.io/socket.io.js")

		script(src='/js/angular-modules/services.js')
		script(src='/js/angular-modules/render_services.js')
		script(src='/js/angular-modules/document_services.js')


		
		// controllers
		script(src='/js/MusicBox/document_v1.js')
		script(src='/js/MusicBox/userCtrl.js')
		
		// Angular top level 'app' routing 
		script(src='/js/app.js')
		

		link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/grid.css')
		link(rel='stylesheet', href='/css/charset.css')
		link(rel='stylesheet', href='/css/custom.css')



	body()
		div(ng-view)