!!!
html(ng-app="musicBox")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		// vars from locals, transmit to javascript
		script(type='text/javascript').
			var USE_SOCKET_SERVER = '#{locals.use_socket_server}';
			var SOCKET_URL = '#{locals.socket_url}';
			var API_METHOD = '#{locals.api_method}';
			var API_URL = '#{locals.api_url}';

		link(rel='stylesheet', href='/css/my-foundation/foundation.css')
		// link(rel='icon', type="image/png", href="/favicon.png")

		// dont forget to run 'bower' install if load fails here
		link(rel='stylesheet', href='/bower/font-awesome/css/font-awesome.min.css')
		
		link(rel='stylesheet', href='/css/logo.css')
		link(rel='stylesheet', href='/css/commons.css')
		link(rel='stylesheet', href='/css/media.css')

		link(rel='stylesheet', href='/css/doc.css')
		link(rel='stylesheet', href='/css/charset.css')
		link(rel='stylesheet', href='/css/editor.css')
		// group : minified not commited:
		// link(rel='stylesheet', href='/css/min/MusicBox.min.css')

		// link(rel='stylesheet', href='/css/custom.css')

		// Misc libs/utils
		script(src="/bower/jquery/jquery.min.js")
		script(src='/bower/underscore/underscore-min.js')

		// kept local
		script(src='/js/lib/webfont.js')
		if locals.use_socket_server
			script(src="/socket.io/socket.io.js")
		
		script(src='/bower/angular/angular.min.js')	
		script(src='/bower/angular-sanitize/angular-sanitize.min.js')
		script(src='/bower/angular-route/angular-route.min.js')
		script(src='/bower/angular-resource/angular-resource.min.js')	
	
		// Angular top level 'app' routing 
		script(src='/js/app.js')

		// run services (x-controllers, translations, strings, locales) 
		script(src='/js/angular-modules/services.js')	
		
		script(src='/js/angular-modules/filters.js')

		script(src='/js/angular-modules/directives.js')

		// MusicBox scripts
		script(src="/js/MusicBox/front-commons.js")
		script(src='/js/MusicBox/document.js')
		script(src='/js/MusicBox/fragment.js')
		script(src='/js/MusicBox/section.js')
		script(src='/js/MusicBox/letter.js')
		script(src='/js/MusicBox/key.js')

		// minified
		// script(src='/js/min/MusicBox.min.js')
		
		meta(charset='utf8')
		base(href='/')
		title= locals.title
		meta(name="description", content=locals.description)

		// meta(property="fb:app_id" , content="248664598505342")
		meta(property="og:title", content=locals.title)
		// https://developers.facebook.com/docs/reference/opengraph/object-type
		// https://developers.facebook.com/tools/object-browser?app_id=248664598505342
		meta(property="og:type", content="article")
		// meta(property="og:type", content="like:article")
		meta(property="og:image", content=locals.image)
		meta(property="og:url", content="")
	body(class="{{docmetas['single_theme']}}")
		div(ng-view)
