doctype
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		title #{doc_title}
		meta(charset="utf-8")
	body
		h1 #{doc_title}
		// p #{doc_content}
		// ul #{markups}
		table(width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" bgcolor="#000")
			tr
				td(bgcolor="#000")
					a(href="#")
						img(src="http://25.media.tumblr.com/tumblr_loypi35wJt1qko4x4o1_r1_400.gif" alt="" border="0")

		ul
			each val in sections
				li= val
				each p in val.objects
					each op in p
						li= op.type