doctype
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		title #{doc_title} #{site_title} #{site_description} 	
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	base(href='/')
	meta(name="description", content="#{doc_excerpt}")
	meta(property="fb:app_id" , content="#{fbapp_id}")
	
	// https://developers.facebook.com/docs/reference/opengraph/object-type
	// https://developers.facebook.com/tools/object-browser?app_id=248664598505342
	meta(property="og:type", content="article")
	meta(property="og:title", content="#{doc_title}")
	meta(property="og:image", content="#{doc_thumbnail}")
	meta(property="og:description", content="#{doc_excerpt}")
	meta(property="og:site_name", content="#{site_title}")
	meta(property="og:url", content="#{doc_slug_discret}")
	link(rel='icon', type='image/png', href='favicon.png')
	link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')

	if (env == 'dev' )	
		script(type='text/javascript',  src='#{root_url}:35729/livereload.js')
		// Misc libs/utils
		// script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
		// script(type='text/javascript', src='bower_components/underscore/underscore-min.js')
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='css/compiled/welcome.css')

		
	if (doc_include_css)
		link(rel='stylesheet', href='#{doc_include_css}')

	//
		♪     ♪
			♪     ♪
		Boite à musique
			~MusicBox v.03 "fruityLoops"
			Tom Wersinger
	body
		header()
			h1 
				a 	MusicBox
					span Document Api System
		.wrapper
			section#baseline
				h3 Powerful document editing and render
							
			section#features
				div.left
					h2 Open-source
					p Host your own instance
					span.action a Source on github
					span.action a Documentation
				div.center
					h2 free document hosting
					p We provide free document hosting
					span.action a Learn more
				div.right
					h2 Commercial services
					p We can cutomize host and provide custom services or plugins
					span.action a Learn more
		footer #{site_title}
