.three.columns.ae
.six.columns( ng-dblclick="switch_render_layout('editor')")
 p 
  i.icon-plus.icon-muted.hdifsections(ng-click='click_summarize(doc.content)')
 
 p 
  em.styleheadings.doc_notices_before_title.hdifsections(ng-bind-html="docmetas.doc_notices_before_title" )
 p(ng-if="($index==0) && (render_layout== 'editor')")
  label Before title: 
   input(ng-class="'editing_i_'+editing_fields['doc_notices_before_title']['state']",  ng-init="alt('init', 'doc_notices_before_title', docmetas.doc_notices_before_title)", ng-mouseleave="alt('leave', 'doc_notices_before_title',  docmetas.doc_notices_before_title)" , ng-click="alt('click', 'doc_notices_before_title',  docmetas.doc_notices_before_title)",   ng-change="alt('change', 'doc_notices_before_title', docmetas.doc_notices_before_title)", ng-model="docmetas.doc_notices_before_title")




 //p
  a(ng-click="slide_render_layout()") {{render_layout}} - {{render_layout_next}}
 
 h1.styleheadings.bigtext_title.hdifsections(ng-class="'editing_f_'+editing_fields['title']['state']",  ng-click="click_to_share(doc.title)", ng-if="$index==0", ng-bind-html-unsafe="doc.title") {{doc.title}}
 span(ng-if="(render_layout== 'editor')")
  p Titre: 
   input(ng-class="'editing_i_'+editing_fields['title']['state']",  ng-init="alt('init', 'title',  doc.title)", ng-mouseleave="alt('leave', 'title',  doc.title)" , ng-click="alt('click', 'title',  doc.title)",   ng-change="alt('change', 'title',  doc.title)" , ng-model="doc.title", name="doc.title")


 h3.styleheadings.bigtext_title.bigtext_subtitle.hdifsections(ng-click="click_to_share(docmetas.subtitle)", , ng-bind-html="docmetas.subtitle")
 span(ng-if=" (render_layout== 'editor')")
  p Subtitle: 
   input(ng-class="'editing_i_'+editing_fields['subtitle']['state']",  ng-init="alt('init', 'subtitle', docmetas.subtitle)", ng-mouseleave="alt('leave', 'subtitle',  docmetas.subtitle)" , ng-click="alt('click', 'subtitle',  docmetas.subtitle)",   ng-change="alt('change', 'subtitle', docmetas.subtitle)", ng-model="docmetas.subtitle")


 p.make_mgel(style="margin:0px;")
  span.styleheadings.doc_notices_after_title.hdifsections(ng-click="click_to_share(docmetas.doc_notices_after_title)", ng-show='$index==0 && docmetas.doc_notices_after_title ', ng-bind-html="docmetas.doc_notices_after_title")
 span(ng-if="render_layout== 'editor'")
  p After title: 
   input(ng-class="'editing_i_'+editing_fields['doc_notices_after_title']['state']",  ng-init="alt('init', 'doc_notices_after_title', docmetas.doc_notices_after_title)", ng-mouseleave="alt('leave', 'doc_notices_after_title',  docmetas.doc_notices_after_title)" , ng-click="alt('click', 'doc_notices_after_title',  docmetas.doc_notices_after_title)",   ng-change="alt('change', 'doc_notices_after_title', docmetas.doc_notices_after_title)", ng-model="docmetas.doc_notices_after_title")


 .make_mgel.twelve.columns.npadl.npadr.doc_time.doc_time_before( ng-include="fragments['date'][0].url",  ng-if="active_section_only_index('date_fragment_full_first',true,0)")
  




 .make_mgel.twelve.column.share_fragment.share_fragment_after_title(ng-if="show_at('share','title', 0, true, false)",  ng-include="fragments['share'][0].url")

 .twelve.column.npadl.npadr.npadz.author_card.author_card_full_first.tdinfos(ng-if="active_section_only_index('author_card_full_first','', $index )" , ng-include="fragments['author_card'][0].url" ) 
 


 //.twelve.column.npadl.npadr.npadz(ng-if="doc.richmode==false")
  div.lt.richtext(ng-bind-html-unsafe="doc.content")
  p
    em.richtext_notice (rendu de document : 
      a(href="/doc/page/rendu-brut") brut
    )
 
  p
    textarea( 
    ng-class="'editing_i_'+editing_fields['content']['state']", 
    ng-init="alt('init','content',doc.content)",
    ng-mouseleave="alt('leave', 'content',  doc.content)",
    ng-click="alt('click', 'content',  doc.content)",
    ng-change="alt('change', 'content', doc.content)",
    ng-model="doc.content"
    )
 
 .twelve.column.npadl.npadr.npadz(ng-if="render_layout=='editor'" )
 
  div(ng-repeat="field in def")
    p
      label {{field}} :
        input(
        ng-class="'editing_i_'+editing_fields[field]['state']", 
        ng-init="alt('init',field,doc[field])",
        ng-mouseleave="alt('leave', field,  doc[field])",
        ng-click="alt('click', field,  doc[field])",
        ng-change="alt('change', field, doc[field])",
        ng-model="doc[field]"
        )
 


  // p
    input( 
    ng-class="'editing_i_'+editing_fields['content']['state']", 
    ng-init="alt('init','content',doc.content)",
    ng-mouseleave="alt('leave', 'content',  doc.content)",
    ng-click="alt('click', 'content',  doc.content)",
    ng-change="alt('change', 'content', doc.content)",
    ng-model="doc.content"
    )

.three.columns
.twelve.columns.col-lvl